# Fun with puplicly available health data...

https://catalog.data.gov/dataset/community-health-status-indicators-chsi-to-combat-obesity-heart-disease-and-cancer

# Let's load some data...

In [9]:
healthDF <- read.csv('../data/VUNERABLEPOPSANDENVHEALTH.csv')

In [6]:
getwd()

[1] "C:/Users/brcaffer/Documents/GitHub/Professional/Documents/GitHub-Presentations/DataScienceFromAtoZ/Lab"

In [10]:
head(healthDF)

  State_FIPS_Code County_FIPS_Code CHSI_County_Name CHSI_State_Name
1 1                1               Autauga          Alabama
2 1                3               Baldwin          Alabama
3 1                5               Barbour          Alabama
4 1                7               Bibb             Alabama
5 1                9               Blount           Alabama
6 1               11               Bullock          Alabama
  CHSI_State_Abbr Strata_ID_Number No_HS_Diploma Unemployed Sev_Work_Disabled
1 AL              29                6690          774       1727
2 AL              16               20254         2533       4933
3 AL              51                6729          569       1302
4 AL              42                5355          358        900
5 AL              28               11181          819       2217
6 AL              75                2848          327        448
  Major_Depression ... Shig_Rpt_Ind Shig_Exp Toxic_Chem Carbon_Monoxide_Ind
1 2680             ... 3            11       2883197    1
2 9354             ... 4            13         35664    1
3 1618             ... 3            16         49874    1
4 1218             ... 3            16          7302    1
5 3164             ... 4             5        889020    1
6  626             ... 4             7         -2222    1
  Nitrogen_Dioxide_Ind Sulfur_Dioxide_Ind Ozone_Ind Particulate_Matter_Ind
1 1                    1                  1         1
2 1                    1                  2         1
3 1                    1                  1         1
4 1                    1                  1         1
5 1                    1                  1         1
6 1                    1                  1         1
  Lead_Ind EH_Time_Span
1 1        1999-2003
2 1        2001-2003
3 1        1999-2003
4 1        1994-2003
5 1        1999-2003
6 1        1994-2003

In [11]:
install.packages('sqldf')

Installing package into 'C:/Users/brcaffer/Documents/R/win-library/3.4'
(as 'lib' is unspecified)

ERROR: Error in contrib.url(repos, "source"): trying to use CRAN without setting a mirror

In [13]:
library(sqldf)

Loading required package: gsubfn
Loading required package: proto
Loading required package: RSQLite

In [16]:
sqldf('select * from healthDF limit 20')

   State_FIPS_Code County_FIPS_Code CHSI_County_Name CHSI_State_Name
1  1                1               Autauga          Alabama
2  1                3               Baldwin          Alabama
3  1                5               Barbour          Alabama
4  1                7               Bibb             Alabama
5  1                9               Blount           Alabama
6  1               11               Bullock          Alabama
7  1               13               Butler           Alabama
8  1               15               Calhoun          Alabama
9  1               17               Chambers         Alabama
10 1               19               Cherokee         Alabama
11 1               21               Chilton          Alabama
12 1               23               Choctaw          Alabama
13 1               25               Clarke           Alabama
14 1               27               Clay             Alabama
15 1               29               Cleburne         Alabama
16 1               31               Coffee           Alabama
17 1               33               Colbert          Alabama
18 1               35               Conecuh          Alabama
19 1               37               Coosa            Alabama
20 1               39               Covington        Alabama
   CHSI_State_Abbr Strata_ID_Number No_HS_Diploma Unemployed Sev_Work_Disabled
1  AL              29                6690          774       1727
2  AL              16               20254         2533       4933
3  AL              51                6729          569       1302
4  AL              42                5355          358        900
5  AL              28               11181          819       2217
6  AL              75                2848          327        448
7  AL              76                4363          537        976
8  AL               6               19546         2182       5722
9  AL              50                8718          849       1470
10 AL              64                6398          464       1154
11 AL              32                9484          685       1887
12 AL              66                3499          325        589
13 AL              51                5196          594        972
14 AL              63                3333          266        624
15 AL              41                3695          234        597
16 AL              32                8316          694       1940
17 AL              21               10160         1203       2463
18 AL              75                2872          296        576
19 AL              41                2707          231        422
20 AL              35                8116          686       1763
   Major_Depression ... Shig_Rpt_Ind Shig_Exp Toxic_Chem Carbon_Monoxide_Ind
1  2680             ... 3            11       2883197    1
2  9354             ... 4            13         35664    1
3  1618             ... 3            16         49874    1
4  1218             ... 3            16          7302    1
5  3164             ... 4             5        889020    1
6   626             ... 4             7         -2222    1
7  1164             ... 3            17         98136    1
8  6400             ... 4            33        808521    1
9  2005             ... 3             9        276636    1
10 1436             ... 4             9          7077    1
11 2355             ... 3             8         20846    1
12  837             ... 3            24       1997045    1
13 1494             ... 3            15        545514    1
14  814             ... 3             4        209084    1
15  833             ... 3            12        869963    1
16 2590             ... 4             9       1002559    1
17 3162             ... 3             8       5860561    1
18  746             ... 3             8         77918    1
19  645             ... 3            11         25245    1
20 2131             ... 3            22          5291    1
   Nitrogen_Dioxide_Ind Sulfur_Dioxide_Ind Ozone_Ind Particulate_Matter_Ind
1  1                    1                  1         1
2  1                    1                  2         1
3  1                    1                  1         1
4  1                    1                  1         1
5  1                    1                  1         1
6  1                    1                  1         1
7  1                    1                  1         1
8  1                    1                  1         1
9  1                    1                  1         1
10 1                    1                  1         1
11 1                    1                  1         1
12 1                    1                  1         1
13 1                    1                  1         1
14 1                    1                  1         1
15 1                    1                  1         1
16 1                    1                  1         1
17 1                    1                  1         1
18 1                    1                  1         1
19 1                    1                  1         1
20 1                    1                  1         1
   Lead_Ind EH_Time_Span
1  1        1999-2003
2  1        2001-2003
3  1        1999-2003
4  1        1994-2003
5  1        1999-2003
6  1        1994-2003
7  1        1994-2003
8  1        2001-2003
9  1        1999-2003
10 1        1994-2003
11 1        1999-2003
12 1        1994-2003
13 1        1999-2003
14 1        1994-2003
15 1        1994-2003
16 1        1999-2003
17 1        1999-2003
18 1        1994-2003
19 1        1994-2003
20 1        1999-2003

In [20]:
sqldf('select CHSI_State_Name as state, count(*) as county_count, avg(Sev_Work_Disabled) as avg_disabled from healthDF limit 20')

  state   county_count avg_disabled
1 Wyoming 3141         2936.91

### Task 1: Write a query to return rows with unemployment over 2000 sorted by state and then county

In [21]:
# Your query below...

### Task 2:  Extract the New England states (MA, RI, CT, VT, NH, and ME) and average number of disabled workers by state to a separate data frame named neDF.

In [22]:
# Your query below...

## If you have trouble with the task above, use the cell below.

In [61]:
neDF <- sqldf("select CHSI_State_Abbr as state , CHSI_State_Name as state_name, avg(Sev_Work_Disabled) as avg_disabled from healthDF where CHSI_State_Abbr in  ('CT','MA','ME', 'NH','RI','VT') group by CHSI_State_Name")

neDF

  state state_name    avg_disabled
1 CT    Connecticut    9185.00
2 ME    Maine          2369.50
3 MA    Massachusetts 11051.79
4 NH    New Hampshire  2701.00
5 RI    Rhode Island   6534.20
6 VT    Vermont         924.50

### Run the code below which creates a data frame of New England States and the average age.

In [58]:
nestate <- c('MA', 'RI', 'CT', 'VT', 'NH', 'ME')
neage <- c(35,45,62,34,25,66)

neageDF <- data.frame(nestate,neage)
neageDF

  nestate neage
1 MA      35
2 RI      45
3 CT      62
4 VT      34
5 NH      25
6 ME      66

### Write a query that joins your data frame neDF to neageDF and list the State Code, State Name, average disabled workers, and average age sorted by state code.

In [62]:
sqldf('select state, state_name, avg_disabled, neage as avg_age from neDF, neageDF where neDF.state = neageDF.nestate')

  state state_name    avg_disabled avg_age
1 CT    Connecticut    9185.00     62
2 ME    Maine          2369.50     66
3 MA    Massachusetts 11051.79     35
4 NH    New Hampshire  2701.00     25
5 RI    Rhode Island   6534.20     45
6 VT    Vermont         924.50     34

In [1]:
# Your code here...